---
import Section from "./Section.astro";

interface Props {
  text: string;
  img: string;
  alt: string;
}

const { text, img, alt } = Astro.props;
---

<Section background="bg-navy-950">
  <div class="wrapper flex flex-col gap-8">
    <p class="font-heading-2! text-2xl text-white">{text}</p>
    <div class="w-full h-[50vh]">
        <img src={img} alt={alt} class="w-full h-full object-cover object-top"/>
    </div>
  </div>
</Section>
