---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Historia">
    <Header />
    <main>
        <Hero 
            title='55 años entrelazando mística, respeto y pasión'
            bajada='Descubre nuestra historia de 55 años de tradición y excelencia.'
        />
    </main>
    <Footer />
</Layout>