---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroIndex from '../components/index/HeroIndex.astro';
import Nosotros from '../components/index/Nosotros.astro';
import Presentaciones from '../components/index/Presentaciones.astro';
import Repertorio from '../components/index/Repertorio.astro';
---

<Layout title="Antumapu">
    <Header />
    <main>
        <HeroIndex />
        <Nosotros />
        <Presentaciones />
        <Repertorio />
    </main>
</Layout>
