---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroIndex from '../components/index/HeroIndex.astro';
import Nosotros from '../components/index/Nosotros.astro';
import Presentaciones from '../components/index/Presentaciones.astro';
import Repertorio from '../components/index/Repertorio.astro';
import Noticias from '../components/layout/Noticias.astro'
import Footer from '../components/Footer.astro';
---

<Layout title="Antumapu">
    <Header />
    <main>
        <HeroIndex 
            title="ANTUMAPU" 
            bajada="Más de 50 años de legado artístico desde la Universidad de Chile, dedicados a revitalizar el patrimonio y la identidad cultural del país con rigor, creatividad y un profundo sentido de pertenencia."
        />
        <Nosotros 
            title="Nosotros" 
            resumen="Antumapu es un referente en la danza folclórica chilena, con más de cinco décadas de trayectoria dedicadas a la investigación, creación y difusión de nuestra cultura popular."
        />
        <Presentaciones 
            title="Próximas Presentaciones" 
            bajada="Explora nuestros próximos eventos y acompáñanos en nuestras presentaciones en vivo."
        />
        <Repertorio 
            title="Repertorio" 
            bajada="Descubre la diversidad de nuestras obras, una muestra de la riqueza cultural que preservamos."
        />
        <Noticias 
            title="Noticias" 
            bajada="Mantente al día con las últimas novedades, eventos y hitos de Antumapu."
            theme="light"
        />
    </main>
    <Footer />
</Layout>
