---

---

<section class="pb-18.75 bg-sand-100">
  <div class="wrapper">
    <div
      class="grid grid-cols-12 py-7 border-t border-b border-navy-950 max-sm:py-5"
    >
     <slot />
    </div>
  </div>
</section>
