---
interface Props {
    title: string;
    bajada: string;
}

const { title, bajada } = Astro.props;

const pathname = Astro.url.pathname;
const pageName = pathname.split('/').filter(Boolean).pop() || '';
const formattedPageName = pageName.charAt(0).toUpperCase() + pageName.slice(1);
---

<section class="h-max bg-hero-gradient relative py-36">
    <div class="w-56 h-56 aspect-square absolute right-0 lg:right-80 top-42.75 rounded-[274px] bg-gold-500 blur-[175px]"></div>
    <div class="wrapper flex flex-col justify-center gap-7 h-full relative z-10">
        <span class="text-gold-500 font-heading-2 tracking-[1.4px]"><a href="/" class="text-white-soft!">Inicio</a> / {formattedPageName}</span>
        <h1 class="font-heading-2 text-white text-[64px] max-sm:text-h2 2xl:text-h1 lg:w-[70%] ">{title}</h1>
        <p class="text-[20px] text-white">{bajada}</p>
    </div>
</section>
