---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className = "col-span-12 md:col-span-6 lg:col-span-3 lg:justify-end" } = Astro.props;
---

<div class:list={["flex mb-20", className]}>
  <div class="flex flex-col gap-5 items-start">
    {
      title && (
        <h3 class="text-2xl font-bold uppercase tracking-[1.4px] text-gold-500 w-max">
          {title}
        </h3>
      )
    }
    <slot />
  </div>
</div>
