---
// Componente Skeleton para simular la carga de las actividades
const items = Array.from({ length: 3 });
---

<div class="flex flex-col gap-1 w-full animate-pulse">
  {items.map(() => (
    <div class="flex flex-col justify-start p-4 border-b border-navy-950/20 gap-5 md:flex-row md:gap-30 lg:gap-50 w-full">
      {/* Columna Fecha */}
      <div class="flex flex-col justify-center gap-2 md:w-[6rem] lg:w-[3rem]">
        <div class="h-12 w-16 bg-navy-950/10 rounded"></div>
        <div class="h-4 w-12 bg-gold-700/20 rounded"></div>
      </div>
      
      {/* Columna Título y Obra */}
      <div class="flex flex-col justify-center gap-2 flex-grow">
        <div class="h-6 w-3/4 bg-navy-950/10 rounded"></div>
        <div class="h-4 w-1/2 bg-navy-800/10 rounded"></div>
      </div>

      {/* Columna Detalles */}
      <div class="flex justify-between items-center w-full md:w-1/2">
        <div class="flex flex-col gap-2">
          <div class="h-5 w-40 bg-navy-950/10 rounded"></div>
          <div class="h-4 w-32 bg-navy-800/10 rounded"></div>
        </div>
        <div class="flex items-center gap-5">
          <div class="h-5 w-12 bg-navy-950/10 rounded"></div>
          <div class="w-6 h-6 bg-gold-700/10 rounded-full"></div>
        </div>
      </div>
    </div>
  ))}
</div>
